body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    }

    .nav-link .web {
        font-family: "Raleway", sans-serif;
        letter-spacing: 0.03em;
        line-height: 117%;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        color: #4D5AE5;
    }
.logo {
    color: #2e2f42;
}

.nav-link .link {
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 500;
}
.nav-link .link:active {
    color: #404bbf;
}

.nav-link .link:hover,
.nav-link .link:focus {
    color: #404bbf;
}


.adres-link .link:hover,
.adres-link .link:focus {
    color: #404bbf;
}

.adres-link {
    font-style: normal;
}    

.adres-link .link {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 400;
}

.adres-link .link:active {
    color: #404bbf;
}


.section-color {background-color: #2E2F42;}


.page-title {
    letter-spacing: 0.02em;
    line-height: 107%;
    text-align: center;
    color: #ffffff;
    font-size: 56px;
}

.button {
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    background-color: #4D5AE5;
    font-size: 16px;
}

.button { 
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}
.button:active {
    background-color: #404BBF;
} 

.section-title {
    font-size: 36px;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    line-height: 111%;
    text-align: center;
    color: #2e2f42;
}

.features-list .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.features-list .title {
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 120%;
    font-size: 20px;
    font-weight: 500;
}

.team-section{
    font-size: 36px;
    letter-spacing: 0.02;
    background-color: #F4F4FD;
}
.team-list .text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team-list .title {
    color: #2e2f42;
    background-color: #ffffff;
    letter-spacing: 0.02em;
    line-height: 120%;
    font-size: 20px;
    font-weight: 500;
}

.team-list .foto{
    background-color: #ffffff;
}

.team-section {
    background-color: #F4F4FD;
}



.portfolio-list .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-list .title {
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 120%;
    font-size: 20px;
    font-weight: 500;
}


.footer {
    background-color: #2E2F42;
}
.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer .web {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    line-height: 117%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #4D5AE5;
}

ul {
    list-style-type: none;
}

.footer-logo {
    color: #F4F4FD;
}

.web {
    font-family: "Raleway", sans-serif;
        letter-spacing: 0.03em;
        line-height: 117%;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        color: #4D5AE5;
}